p{
    padding:33px;
    color:#663399;
    font-weight: 300;
}




/*  Frame 1 */

/* position: relative;
width: 317px;
height: 179px;

background: #FFFFFF; */


/* Rectangle 1 */

/* position: absolute;
width: 14px;
height: 88px;
left: 109px;
top: 45px;

background: #4B4A5E;
mix-blend-mode: normal;
border: 1px solid #4B4A5E;
box-sizing: border-box; */


/* Rectangle 2 */

/* position: absolute;
width: 13px;
height: 77px;
left: 133px;
top: 56px;

background: #4B4A5E;
mix-blend-mode: normal;
border: 1px solid #4B4A5E;
box-sizing: border-box; */


/* Rectangle 3 */

/* position: absolute;
width: 13px;
height: 59px;
left: 157px;
top: 74px;

background: #4B4A5E;
mix-blend-mode: normal;
border: 1px solid #4B4A5E;
box-sizing: border-box; */


/* Rectangle 4 */
/* 
position: absolute;
width: 14px;
height: 72px;
left: 180px;
top: 61px;

background: #4B4A5E;
mix-blend-mode: normal;
border: 1px solid #4B4A5E;
box-sizing: border-box; */