h6{
 font-size: medium;
 font-weight: 300;
 line-height: 30px;;
}

.arrow__down{
  position: absolute;
    bottom: 0;
    left: 50%;
    /* color:#e1e4e8; */
    transform: translate(-50%, -50%);
}

h5{
  font-size: 12px;
  font-weight: 300;
  color: #d3d3d3;
  padding-left:80px;
}