.header{
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #24292e;
    position: sticky;
    top:0;
    z-index:100;
    
}

.icons{
    display: flex;
    align-items: center;
    position: absolute;
    right:20px;
}